/target/
Cargo.lock
!/Cargo.lock
!/tools/build/third-party/rust/Cargo.lock
bsmr-out
/node_modules/
/site/
__pycache__/
*.py[cod]
/.direnv
.bsmrconfig.local
.envrc.local

# symlinks
/examples/with_prelude/prelude
/examples/with_prelude/third-party/ocaml/opam
/examples/with_prelude/third-party/haskell/ghc
/examples/with_prelude/third-party/ocaml/standard_library
